In [20]:
import pandas as pd
import numpy as np
from PyPDF2 import PdfFileReader

In [21]:
def extract_data(path, ano, mes, qty_mes):
    with open(path, 'rb') as f:
        pdf = PdfFileReader(f)
        for num_page in range(pdf.getNumPages()):
            page = pdf.getPage(num_page)
            text = page.extractText()
            list_text = text.split('\n')

            if num_page == 0:
                list_text = list_text[6:]

            for i in range(0, len(list_text) - 3, 3):
                product = list_text[i]
                PU = list_text[i+1]
                qty = list_text[i+2]
                
                if product[:3] == 'ER$':
                    print('CAGADA SENDO PROCESSADA')
                    original = product+PU+qty
                    product = 'E'
                    PU = 23.
                    list_text.insert(0,0) # desloca todos os itens uma vez pra frente
                    
                # tratamento chato pra transformar de string para float
                try:
                    PU = (float(PU.replace('R$', '').split(' ')[1].replace(',','.'))) # para ser valor total (PU * qty) usar o index -1
                except AttributeError:
                    PU = 23.

                try:
                    qty = (float(qty.replace(',','.')))
                except:
                    print(original)
                    print(ano, mes, num_page)
                    qty = float(input('Qty: '))
                
                PU_product[product] = PU
                qty_mes = qty_mes.append(pd.DataFrame([[product, qty]], columns = ['Produto', f'{ano}_{mes}']))
                
    return qty_mes

In [23]:
qty_mes = pd.DataFrame(columns = ['Produto'])
PU_product = {}

for ano in [2018,2019,2020]:
    for mes in np.arange(1,13):
        path = f'./dados/relatorio_produtos/produtos_{ano}_{mes}.pdf'
        try:
            qty_mes = (extract_data(path, ano, mes, qty_mes))
            qty_mes = qty_mes.groupby('Produto').sum().reset_index()
        except FileNotFoundError as e:
            pass

CAGADA SENDO PROCESSADA
ER$ 23,00R$ 23,001,001/2 PORÇÃO SUSHI
2019 4 3

Qty:  1.

CAGADA SENDO PROCESSADA
ER$ 23,00R$ 69,003,00GUNK CREAM CHEESE UN
2019 6 2

Qty:  3.

CAGADA SENDO PROCESSADA
ER$ 23,00R$ 23,001,00FILADELFIA URAMAKI
2019 7 3

Qty:  1.

CAGADA SENDO PROCESSADA
ER$ 23,00R$ 23,001,00CROQUETE SALMAO
2019 8 2

Qty:  1.

CAGADA SENDO PROCESSADA
ER$ 23,00R$ 69,003,00EBI FURAI URAMAKI
2019 9 2

Qty:  3.

CAGADA SENDO PROCESSADA
ER$ 23,00R$ 46,002,00GUNKAN CREAM MARAC PC
2019 10 2

Qty:  2.

CAGADA SENDO PROCESSADA
ER$ 23,00R$ 69,003,00GUNKAN CREAM MARAC PC
2019 11 2

Qty:  3.

In [35]:
qty_mes = qty_mes.set_index('Produto')
qty_mes

,2018_11,2018_12,2019_1,2019_2,2019_3,2019_4,2019_5,2019_6,2019_7,2019_8,2019_9,2019_10,2019_11,2019_12,2020_1,2020_2,2020_3
Produto,,,,,,,,,,,,,,,,,
SAKÊ SOFT GARRAFA,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,2.0,6.0,0.0,6.0,3.0,2.0,3.0
1/2 PORÇÃO SUSHI,0.0,3.0,4.0,0.0,4.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,3.0,6.0,2.0,0.0
1865,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
ABA/HORT.MOR.KIWI,15.0,46.0,31.0,27.0,10.0,5.0,2.0,6.0,9.0,9.0,2.0,11.0,3.0,2.0,5.0,2.0,1.0
ABACAXI COM HORTELA,3.0,24.0,9.0,7.0,3.0,2.0,1.0,5.0,9.0,7.0,2.0,7.0,1.0,6.0,6.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
YAKISSOBA FRANGO,0.0,5.0,3.0,2.0,1.0,5.0,3.0,2.0,1.0,1.0,3.0,2.0,1.0,4.0,1.0,0.0,1.0
YAKISSOBA LEGUMES,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,3.0,0.0,0.0,0.0
YAKISSOBA MISTO,0.0,6.0,4.0,1.0,4.0,3.0,4.0,3.0,1.0,1.0,4.0,4.0,2.0,0.0,2.0,2.0,1.0
YAKISSOBA SALMAO,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
¹/² SUSHI A ESCOLHA EXECUTIVO,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [39]:
qty_mes['Total'] = qty_mes.T.sum()

In [41]:
qty_mes.to_csv('./resultados/quantidade_mes.csv')

## Mov_financeiro

In [44]:
path = './dados/mov_financeiro/1 rel mov finan nov 2018.pdf'

In [70]:
def extract_mov(path, ano, mes):
    with open(path, 'rb') as f:
        pdf = PdfFileReader(f)

        text = pdf.getPage(0).extractText()

        list_ex = text.split('\n')

        dinheiro, visa, visa_electron, conta, desconto, mastercard = 0,0,0,0,0,0

        for index, element in enumerate(list_ex):
            if element == '0001             DINHEIRO                       R$ ':
                dinheiro = float(list_ex[index+1].replace(',','.'))
            elif element == '0003             VISA                           R$ ':
                visa = float(list_ex[index+1].replace(',','.'))
            elif element == '0004             VISA ELECTRON                  R$ ':
                visa_electron = float(list_ex[index+1].replace(',','.'))
            elif element == '0010             CONTA ASSINADA                 R$ ':
                conta = float(list_ex[index+1].replace(',','.'))
            elif element == '0012             DESCONTO                       R$ ':
                desconto = float(list_ex[index+1].replace(',','.'))
            elif element == '0005             MASTERCARD                     R$ ':
                mastercard = float(list_ex[index+1].replace(',','.'))

        return [ano, mes, dinheiro, visa, visa_electron, conta, desconto, mastercard]

In [71]:
mov_columns = ['Ano', 'Mes', 'Dinheiro', 'Visa', 'Visa Electron', 'Conta assinada', 'Desconto', 'Mastercard']
mov = pd.DataFrame(columns = mov_columns)

for ano in [2018,2019,2020]:
    for mes in np.arange(1,13):
        path = f'./dados/mov_financeiro/extrato_{ano}_{mes}.pdf'
        try:
            mov = mov.append(pd.DataFrame([extract_mov(path, ano, mes)], columns = mov_columns))
        except FileNotFoundError:
            print('ai')

ai
ai
ai
ai
ai
ai
ai
ai
ai
ai
ai
ai
ai
ai
ai
ai
ai
ai

In [74]:
mov.to_csv('./resultados/mov_financeiro.csv', index = False)

In [51]:

list_ex

['---------------------------------------------------',
 '--------------------------',
 '                    Relatório Vendas Por Forma de P',
 'agamento                  ',
 '---------------------------------------------------',
 '--------------------------',
 'Impresso em: 05/12/2020 21:49:29',
 'Período: 11/11/2018 - 30/11/2018',
 '---------------------------------------------------',
 '--------------------------',
 'CÓDIGO           DESCRIÇÃO                      VAL',
 'OR            ',
 '---------------------------------------------------',
 '--------------------------',
 '0001             DINHEIRO                       R$ ',
 '1356,31       ',
 '0003             VISA                           R$ ',
 '9260,40       ',
 '0004             VISA ELECTRON                  R$ ',
 '27,65         ',
 '0010             CONTA ASSINADA                 R$ ',
 '636,88        ',
 '0012             DESCONTO                       R$ ',
 '204,80        ',
 '===================================================',
 '==========================',
 'TOTAL: R$ 11486,04',
 '===================================================',
 '==========================',
 '']

In [54]:
newlist = list(filter(dinheiro.match, list_ex))
newlist

['0001             DINHEIRO                       R$ ']